<html>
  <head>
    <script src="/jquery/jquery.js"></script>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" href="/stylesheets/style.css"/>
    <script src="/bootstrap/js/bootstrap.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC1glrTnpablmi4P5deOqFUHzQR5BbXwlk&sensor=true"></script>
    <script src="/js/main.js"></script>
    <script src="/js/options.js"></script>
  </head>
  <body>
    <div class="navbar">
      <!-- <navbar class="navbar"></navbar> -->
      <a class="navbar-inverse navbar-nav navbar-brand" href="#">Trip Planner</a>
    </div>
    <content class="row">
      <div id="gmap">
        <map class="col-md-8 col-xs-12">
        </map>
      </div>
      <side id="input-itinerary" class="col-md-4 col-xs-12">
        <choose>
          <choices class="hotel-add">
            <h3>Hotels</h3>
            <select id="hotel-choices">
              <option></option>
            </select>
            <button class="pull-right btn-circle">+</button>
          </choices>
          <choices class="restaurant-add">
            <h3>Restaurants</h3>
            <select id="restaurant-choices">
              <option></option>
            </select>
            <button class="pull-right btn-circle">+</button>
          </choices>
          <choices class=activity-add>
            <h3>Activities</h3>
            <select id="activity-choices">
              <option></option>
            </select>
            <button class="pull-right btn-circle">+</button>
          </choices>
        </choose>
      </side>
      <side id="my-itinerary" class="col-md-4 col-xs-12">
        <span><h4 align="center">Day 1</h4></span>
        <div class="mini-nav"><span><button>1</button><button>2</button><button>3</button><button>+</button></span>
        </div>
        <choose>
          <hotel-itinerary>
            <h5>My Hotel</h5>
            <ul id="hotel-choice">
              <div class="itinerary-item">
              </div>
            </ul>
          </hotel-itinerary>
          <restaurant-itinerary>
            <h5>My Restaurants</h5>
            <ul id="restaurant-choice">
              <div class="itinerary-item"></div>
            </ul>
          </restaurant-itinerary>
          <activity-itinerary>
            <h5>My Activity</h5>
            <ul id="activity-choice">
              <div class="itinerary-item"></div>
            </ul>
          </activity-itinerary>
        </choose>
      </side>
    </content>
  </body>
  <script>
  var hotels = {{ hotels | dump | safe }};
  var restaurants = {{ restaurants | dump | safe }};
  var activities = {{ activities | dump | safe }};
  </script>
</html>
