<html>
  <head>
    <script src="/jquery/jquery.js"></script>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" href="/stylesheets/style.css"/>
    <script src="/bootstrap/js/bootstrap.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC1glrTnpablmi4P5deOqFUHzQR5BbXwlk&sensor=true"></script>
    <script src="/js/main.js"></script>
  </head>
  <body>
    <div class="navbar">
      <!-- <navbar class="navbar"></navbar> -->
      <a class="navbar-inverse navbar-nav navbar-brand" href="#">Trip Planner</a>
    </div>
    <content class="row">
      <div id="gmap">
        <map class="col-md-8">
        </map>
      </div>
      <side class="col-md-4" style="background-color: orange;">
        <choose>
          <hotel-choices>
            <h3>Hotels</h3>
            <select>
              {% for hotel in hotels %}
              <option>{{hotel.name}}</option>
              {% endfor %}
            </select>
            <button>+</button>
          </hotel-choices>
          <restaurant-choices>
            <h3>Restaurants</h3>
            <select>
              {% for restaurant in restaurants %}
              <option>{{restaurant.name}}</option>
              {% endfor %}
            </select>
            <button>+</button>
          </restaurant-choices>
          <activity-choices>
            <h3>Activities</h3>
            <select>
              {% for activity in activities %}
              <option>{{activity.name}}</option>
              {% endfor %}
            </select>
            <button>+</button>
          </activity-choices>
        </choose>
      </side>
      <side class="col-md-4" style="background-color: lightgray;">
        <span><h4>Day 1</h4></span>
        <div style="background-color:lightblue"><span><button>1</button><button>2</button><button>3</button></span>
        </div>
        <choose>
          <hotel-itinerary>
            <h3>My Hotel</h3>
            <ul>
              <li>
            </ul>
            <button>x</button>
          </hotel-itinerary>
          <restaurant-itinerary>
            <h3>My Restaurants</h3>
            <ul>
              <li>
            </ul>
            <button>x</button>
          </restaurant-itinerary>
          <activity-itinerary>
            <h3>My Activity</h3>
            <ul>
              <li>
            </ul>
            <button>x</button>
          </activity-itinerary>
        </choose>
      </side>
    </content>
  </body>
</html>
