.navbar{
  background-color:black;
  margin:0px;
}
.container {
    padding:10px;
}

#gmap{
  height:100%;
  width:66%;
  float:left;
}

.col-md-4{
  float:left;
  margin:0px;
  height:50%;
}

.mini-nav{
  width:100%;
  padding:10px;
}

.btn-circle{
  border-radius: 50%;
}
/*.navbar-inverse .navbar-nav &gt; li &gt; a, .navbar-inverse .navbar-brand {
    color: $your-color-here;
}*/
