.navbar{
  background-color:red;
}
.container {
    padding:10px;
}
.col-md-8{
  height:265px;
}
div{
  font-size: 100%;
}

#gmap{
  height:265px;
}


.navbar-inverse .navbar-nav &gt; li &gt; a, .navbar-inverse .navbar-brand {
    color: $your-color-here;
}
